<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div th:fragment="cabecalhoUsuario">
        <title>Gerenciador de acervos</title>

        <link rel="canonical" th:href="@{https://getbootstrap.com/docs/4.3/examples/jumbotron/}">
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>

        <link href="../static/jumbotron.css" rel="stylesheet" th:href="@{jumbotron.css}">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" th:href="@{/index}">Gerenciamento de acervo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/lista-itens}">Itens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/lista-etiquetas}">Etiquetas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/meus-dados}">Meus dados</a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <a th:href="@{/logout}"> <button class="btn btn-outline-success my-2 my-sm-0"
                            type="submit">Logout</button> </a>
                </div>
            </div>
        </nav>
    </div>
</body>

</html>