<div th:replace="fragments/cabecalhoUsuario :: cabecalhoUsuario"></div>

<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Seja bem-vindo!</h1>
      <p>Não perca nenhum dos seus itens.</p>
      <p>Aqui você poderá cadastrar itens, vínculos, etiquetas e anotações.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>Item</h2>
        <p>Cadastre já um item na página principal de usuário comum!</p>
      </div>
      <div class="col-md-3">
        <h2>Vínculos</h2>
        <p>Crie vínculos entre diferentes obras...</p>
      </div>
      <div class="col-md-3">
        <h2>Anotações</h2>
        <p>Faça anotações sobre obras cadastradas.</p>
      </div>
      <div class="col-md-3">
        <h2>Etiquetas</h2>
        <p>Dê etiquetas às suas obras!</p>
      </div>
    </div>

    <hr>

  </div>

</main>

<div th:replace="fragments/rodape :: rodape"></div>
